footer.main-footer
  ul.main-footer__soc-list
      li.soc-list__item(data-aos="flip-up")
        a(href="https://vk.com/afimall_city")
      li.soc-list__item(data-aos="flip-up")
        a(href="https://www.instagram.com/afimall/")
      li.soc-list__item(data-aos="flip-up")
        a(href="https://www.facebook.com/AFIMALL/")
      li.soc-list__item(data-aos="flip-up")
        a(href="https://twitter.com/AfimallCity")
  p
    | *Для получения подарка в соответствии с системой начисления
    | баллов приложения Afimall, покупатель должен: совершить покупку
    | на сумму от 500 руб., скачать мобильное приложение Afimall
    | и загрузить в него чек, подтверждающий покупку.
    | Сроки проведения акции с 06.02.2017 г. по 31.03.2017 г.

  p
    | **Локситан и Ив Роше.

  p
    | Информация об организаторе акции, сроках и правилах ее проведени,
    | количестве подарков, сроках, месте и порядке их получения
    | на сумму от 500 руб., скачать мобильное приложение Afimall
    | можно узнать на сайте www.afimall.ru
