footer.main-footer
  ul.main-footer__soc-list
    - for (var x = 1; x < 5; x++)
      li.soc-list__item
        a(href="")
  p
    | *Для получения подарка в соответствии с системой начисления
    | баллов приложения Afimall, покупатель должен: совершить покупку
    | на сумму от 500 руб., скачать мобильное приложение Afimall
    | и загрузить в него чек, подтверждающий покупку.
    | Сроки проведения акции с 06.02.2017 г. по 31.03.2017 г.

  p
    | Информация об организаторе акции, сроках и правилах ее проведени,
    | количестве подарков, сроках, месте и порядке их получения
    | на сумму от 500 руб., скачать мобильное приложение Afimall
    | можно узнать на сайте www.afimall.ru
