- var br = '<br />'
section.gift-descr
  img(src="img/descr-gift.png" data-aos="zoom-in")
  ul(class="gift-descr__list" data-aos="zoom-in-up")
    li
      |Подарки от Московского ювелирного завода!
    li
      |Билеты на концерты Юрия Башмета,!{br}
      |Егора Крида, Неделю моды в Москве
    li
      | Наборы косметики L’Occitane и Yves Rocher**,!{br}
      | детские товары и тысячи других подарков!
