section.take-gift
  h1 Хотите получить подарок?
  .take-gift__btn
    a(href="https://itunes.apple.com/ru/app/afimall-city/id880093759?mt=8").apple-btn
      img(src="img/apple-store.png")
    a(href="https://play.google.com/store/apps/details?id=com.afimall.apps.android&hl=ru").google-btn
      img(src="img/google-play.png")
  ul.take-gift__list
    li
      | Покупайте с 6 февраля по 31 марта 2017
      | (до 16:00) в ТРЦ «АФИМОЛЛ Сити»
      | на сумму от 500 руб. (минимальная сумма
      | одного чека 500 руб);
    li
      | Загрузите чеки (в течение 72 часов с момента
      | совершения покупки) в мобильное
      | приложение Afimall;
    li
      | Активируйте выбранные комплименты;
    li
      | Получайте призы в магазинах
      | и на стойке информации.
  .take-gift__about
    p Подробные условия акции
    a(href="").take-gift__bnt-doc здесь
  .take-gift__video
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KUtpmk84DTU" frameborder="0" allowfullscreen></iframe>
